/* Reset */

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

button {
    cursor: pointer;
}

/* Général */

body {
    font-family: 'Lato', sans-serif;
    background-image: url("../images/uploads/green-mobility.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: local;
}

:root {
    --beige-: rgb(251, 228, 214);
    --green-: rgb(22, 135, 119);
    --light_blue-: rgb(51, 117, 138);
    --dark_blue-: rgb(43, 110, 130);
}

/* Header */

.menu {
    height: 4rem;
    background-color: rgba(255, 255, 255, 0.5);
    flex-wrap: nowrap;
}

.logo_navbar {
    height: 15rem;
}

.nav_links li a {
    font-weight: bold;
}

.logo_brand_compressed {
    width: 10rem;
    height: 10rem;
}

.dropdown-menu[data-bs-popper] {
    left: auto;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.offcanvas {
    background-color: var(--beige-);
}

/* Footer */

.footer_container {
    background-color: var(--dark_blue-);
    padding: 1px;
    z-index: 1;
}

.logo_brand_footer {
    height: 3rem;
    width: 3rem;
}

.rights_reserved,
.social_links {
    color: white;
}

.rights_reserved {
    font-size: small;
}

.social_links {
    font-size: 1.5rem;
}