/* Reset */

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

button {
    cursor: pointer;
}

.row {
    --bs-gutter-x: 0;
}

/* Général */

body {
    font-family: 'Lato', sans-serif;
}

.background_image {
    background-image: url("../images/01_Images/03_Website/depositphotos-49549871-xl-2015_res_1600x900.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@media (max-width: 575px) {
    .background_image {
        background-attachment: local;
        background-position: center;
    }
}

:root {
    /* --beige-: rgb(251, 228, 214); */
    --ecru-: rgba(235, 232, 224, 1);
    --green-: rgb(22, 135, 119);
    --light_blue-: rgb(51, 117, 138);
    --dark_blue-: rgb(43, 110, 130);
    --light_white-: rgba(255, 255, 255, 0.5);
}

.links_button {
    background-color: var(--green-);
    color: white;
}

.links_button:hover {
    background-color: var(--dark_blue-);
    color: white;
}

.hidden_content{
    opacity: 0;
    transition: all 1s ease-in;
}

/* Header */

header {
    z-index: 1;
}

.menu {
    height: 4rem;
    background-color: var(--light_white-);
    flex-wrap: nowrap;
}

.logo_navbar {
    height: 15rem;
}

.nav_links li a {
    font-weight: bold;
}

.logo_brand_compressed {
    width: 10rem;
    height: 10rem;
}

.dropdown-menu {
    left: auto;
    right: 0;
    background-color: var(--light_white-);
}

.dropdown-menu[data-bs-popper] {
    left: auto;
    right: 0;
    background-color: var(--light_white-);
}

.dropdown-item:hover {
    color: black;
}

.offcanvas {
    background-color: var(--ecru-);
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

/* Footer */

.footer_container {
    background-color: var(--light_blue-);
    padding: 1px;
    z-index: 1;
}

.logo_brand_footer {
    height: 3rem;
    width: 3rem;
}

.rights_reserved,
.social_links {
    color: black;
}

.rights_reserved {
    font-size: small;
}

.social_links {
    font-size: 1.5rem;
}

/* HOME PAGE */

/* Home content */

.home-title {
    margin-top: 72vh;
    margin-bottom: 14vh;
    background-color: var(--light_white-);
}

.words_resume {
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: .2rem;
    opacity: 0;
    transition: all 1.5s ease-in;
}

/* Resume Content */

.resume {
    background-color: var(--ecru-);
}

/* Actions content */

.actions_section {
    background-color: var(--light_blue-);
}

.actions_images {
    height: 500px;
    margin-bottom: 40px;
    object-fit: cover;
}

.actions_images_titles {
    background-color: var(--light_white-);
    font-weight: bold;
}

.carousel-control-next-icon, 
.carousel-control-prev-icon {
    filter: invert(100%);
    background-color: rgba(0,0,0, 1);
    border-radius: 25%;
}

@media (max-width: 991px) {
    .resume_actions {
        text-align: center;
    }

    .actions_presentation {
        width: 100%;
    }
}

/* Support content */

.support_section {
    background-color: var(--ecru-);
}

.support_presentation {
    background-color: var(--ecru-);
}

@media (max-width: 991px) {
    .support_content {
        align-items: center;
        justify-content: center;
    }
}

/* Experts content */

.experts_section {
    background-color: var(--light_blue-);
}

.experts_photo {
    background-image: url(../images/01_Images/02_People/fh3.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30rem;
}

@media (max-width: 991px) {
    .experts_photo {
        width: 100%;
        background-attachment: local;
        background-position: center top;
    }

    .resume_experts {
        text-align: center;
    }
}

/* Partners content */

.partners_section {
    background-color: var(--ecru-);
}

@media (max-width: 991px) {
    .partners_presentation{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
    }
}

/* FOUNDING TEAM PAGE */

.team_section,
.tamy_section,
.lukas_section,
.augustin_section {
    background-color: var(--light_blue-);
}

.kenneth_section,
.ramu_section,
.francois_section {
    background-color: var(--ecru-);
}

.team_pictures {
    min-width: 16rem;
    width: 25%;
    height: 25%;
    margin-right: 2rem;
}

.team_description {
    text-align: justify;
}

@media (max-width: 768px) {
    .team_presentation {
        flex-direction: column;
    }
    .team_pictures {
        margin-right: 0;
    }
    .team_resume {
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .team_title {
        text-align: center;
    }
}

/* EXPERTS PAGE */

.experts_page,
.gender_section,
.future_section {
    background-color: var(--ecru-);
}

.sustain_section {
    background-color: var(--light_blue-);
}

.experts_pictures {
    min-width: 16rem;
    width: 25%;
    height: 25%;
    margin-right: 2rem;
}

.experts_description {
    text-align: justify;
}

@media (max-width: 768px) {
    .experts_presentation {
        flex-direction: column;
    }
    .experts_pictures {
        margin-right: 0;
    }
    .experts_explications {
        text-align: center;
        margin-top: 1rem;
    }
    .experts_description {
        text-align: center;
    }
}

/* HELPING PAGE */

.helping_section {
    background-color: var(--ecru-);
}

.support_call_section {
    background-color: var(--ecru-);
}

.consulting_project_section {
    background-color: var(--light_blue-);
}

.dedicated_event_section {
    background-color: var(--ecru-);
}

/* Content visibility */

.loaded {
    opacity: 1;
}